---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
---

<BaseLayout canonicalPath="/privacy-policy">
  <Header />

  <main class="legal-page">
    <div class="container">
      <h1>Privacy Policy</h1>

      <p>
        Ai sensi del Regolamento UE 2016/679 (GDPR), questa pagina descrive le modalità di trattamento dei dati personali degli utenti.
      </p>

      <h2>Titolare del trattamento</h2>
      <p>MUVIT </p>

      <h2>Dati raccolti</h2>
      <p>
        I dati raccolti includono informazioni fornite volontariamente tramite form di contatto.
      </p>

      <h2>Finalità</h2>
      <p>
        I dati vengono utilizzati per rispondere alle richieste e fornire i servizi richiesti.
      </p>

      <h2>Diritti dell’utente</h2>
      <p>
        L’utente può richiedere modifica o cancellazione dei dati scrivendo a: info@muvit.it
      </p>

    </div>
  </main>
</BaseLayout>